<div class="sort-and-order">
  <mat-form-field appearance="fill">
    <mat-label>Sort Options</mat-label>
    <mat-select (valueChange)="sortBy($event); getData()">
      <mat-option *ngFor="let item of sortOptions" [value]="item.value">{{
        item.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-sort-order (valueChange)="setOrder($event); getData()"></mat-sort-order>
</div>


<main *ngIf="data$ | async as data">
  <section *ngIf="data.items!.length > 0; else noResults">
    <h2>Total results: {{ data.total_count }}</h2>

    <mat-paginator
      [length]="data.total_count"
      [pageSize]="20"
      [pageSizeOptions]="[5, 10, 20, 100]"
      (page)="setPagination($event.pageSize, $event.pageIndex + 1); getData()"
    >
    </mat-paginator>

    <article *ngFor="let item of data.items">
      <app-result-card
        [name]="item.login"
        [profilePicture]="item.avatar_url"
        [starCount]="item.score"
        [profileUrl]="item.html_url"
      ></app-result-card>
    </article>
  </section>

  <ng-template #noResults>
    <app-no-results
      *ngIf="cat$ | async as cat"
      [imgDataSource]="cat"
    ></app-no-results>
  </ng-template>
</main>
